<body>

    <div class="formulario">
    <p class="titulo">Provedores</p>
      <table>
        <thead>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Direccion</th>
        <th>Estatus</th>
        </thead>
    
        <tbody>
          <tr *ngFor="let Provedor of datos; let i = index">

          <td class="center">{{Provedor.nombreProvedor}}</td>
          <td class="center">+{{Provedor.telefonoProvedor}}</td>
          <td class="center">{{Provedor.correoProvedor}}</td>
          <td class="center">{{Provedor.direccionProvedor}}</td>
          <td class="center">{{Provedor.statusProvedor}}</td>
          </tr> 
        </tbody>
      </table>
    </div>
    
    </body>