body{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #f5f3f4;
}

.container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.card{
    width: 850px;
    height: 330px;
    border: 4px solid #93291E;
    border-radius: 8px;
    background-color: white;

    padding: 20px 0px ;
    margin-bottom: 60px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}

.imagen{
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.datos{
    width: 80%;
    text-align: justify;
    padding: 0px 20px;
}

.titulo{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #ED213A;
    padding-bottom: 10px;
}

h3{
    color: #ED213A;
    font-size: 35px;
    font-weight: bold;
    margin-top: 40px;
}

span{
    color: #ED213A;
}

img{
    width: 80%;
    height: 100%;
}

p{
    margin: 5px 0px;
    font-size: 20px;
}

b{
    color: #93291E;
}