<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>Catalogo de refacciones </h3>

   <div class="container">
        <div class="card" *ngFor="let producto of datos; let i = index">
            <div class="imagen">
                <img src={{producto.imagenProducto}} alt="" srcset="">
            </div>
            <div class="datos">
                <p class="titulo"> {{producto.nombreProducto}} </p>
                <p class="precio"> <b>Precio: </b> <span> $</span>{{producto.cantidadIngresa}} </p>
                <p class="precio"> <b>Costo:  </b> <span> $</span>{{producto.costoProducto}} </p>
                <p> <b>Marca:</b> {{producto.marcaProducto}}</p>
                <p> <b>Contenido:</b> {{producto.contenidoProducto}}</p>
                <p> <b>Provedor:</b> {{producto.proveedorProducto}}</p>
                <p> <b>Descripcion:</b> {{producto.descripcionProducto}}</p>
            </div>
        </div>
   </div>
</body>
</html>