<body>

    <div class="formulario">
    <p class="titulo">Sucursales</p>
      <table>
        <thead>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Horario</th>
        <th>Estatus</th>
        </thead>
    
        <tbody>
          <tr *ngFor="let sucursal of datos; let i = index">

          <td class="center"> {{sucursal.nombreSucursal}}</td>
          <td class="center"> {{sucursal.direccionSucursal}}</td>
          <td class="center">+{{sucursal.telefonoSucursal}}</td>
          <td class="center"> {{sucursal.horarioSucursal}}</td>
          <td class="center"> {{sucursal.estatusSucursal}}</td>
          </tr> 
        </tbody>
      </table>
    </div>
    
    </body>