<body>
  <div class="formulario">
    <p class="titulo">Personal</p>
      <table>
        <thead>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Puesto</th>
          <th>Telefono</th>
          <th>Estatus</th>
        </thead>
    
        <tbody>
          <tr *ngFor="let Personal of datos; let i = index">
            <td class="bleft"> <img src={{Personal.imagenEmpleado}} alt="" srcset=""> </td>
            <td class="center">{{Personal.nombreEmpleado}}</td>
            <td class="center">{{Personal.edadEmpleado}}</td>
            <td class="center">{{Personal.puestoEmpleado}}</td>
            <td class="center">{{Personal.telefonoEmpleado}}</td>
            <td class="center">{{Personal.statusEmpleado}}</td>
          </tr> 
        </tbody>
      </table>
  </div>
</body>