
body{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    margin-top: 30px;
}

.titulo
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #93291E;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    background: #d4d2d7;
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.formulario{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:transparent;
    font-size: 15px;
    color: rgb(0, 0, 0);
    /* padding: 15px; */
    border-radius: 0px 0px 15px 15px;
    min-height: 40vh;
    border: 2px solid #d4d2d7;
    background: #ffffff;  /* fallback for old browsers */
    box-shadow: 15px 15px 0px 5px rgba(0,0,0,0.75);
}

th{
    background-color:transparent;
    color: #000000;
}
td{
    color: rgb(0, 0, 0);
}

td{
    border-bottom: 2px solid #f5f3f4;
    padding: 5px 25px 5px 25px;
}

.center{
    text-align: center;
}

thead > th{
    padding: 0px 25px 5px 25px;
    border-bottom: 2px solid #f5f3f4;
    color: #ED213A;
}

li{
    list-style: none;
}

.bright{
    color: red;
    cursor: pointer;
    text-align: center;
}

.ast{
    margin-top: 15px;
}

.mini{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
}