header{
    width: 100%;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ED213A, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ED213A, #93291E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
}

.logotipo{
    width: 30%; 
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 100px;
    height: 80px;
}

nav{
    /* width: 40%; */
    width: 45%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

p{
    padding: 15px;
}

p:hover{
    cursor: pointer;
    background-color: black;
}

.active-btn{
    border-bottom: 3px solid white;
}