<header>
    <div class="logotipo">
        <img src="../../../assets/lg.png" alt="" srcset="">
    </div>

    <nav>
        <p routerLink="/Inicio/Productos"   routerLinkActive="active-btn">Productos</p>
        <p routerLink="/Inicio/Personal"    routerLinkActive="active-btn">Personal</p>
        <p routerLink="/Inicio/Provedores"  routerLinkActive="active-btn">Provedores</p>
        <p routerLink="/Inicio/Sucursales"  routerLinkActive="active-btn">Sucursal</p>
    </nav>
</header>